.header {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
}
