.container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 5px;
  border-bottom: 1px dashed var(--border-color);
  background: #fff;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  border-radius: 6px;
}

.step:hover {
  background: var(--background-hover);
}

.activeStep {
  background: var(--background-hover);
}

.divider {
  width: 60px;
  height: 1px;
  border-top: 1px dotted var(--border-color);
}
