.container {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #e8e8e8;
  background: #fff;
}

.menuItem {
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  color: #333333;
}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
