.container {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50px;
  box-sizing: border-box;
  border-right: 1px dashed var(--border-color);
  background: #fff;
}

.topTabs,
.bottomTabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.tab:hover {
  background: var(--background-hover);
}

.activeTab {
  background: var(--background-hover);
}

.activeTab:hover {
  background: var(--background-hover);
}
